/* Allgemeine Stile */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    line-height: 1.5;
    background: #fff; /* Weißer Hintergrund */
    color: #000; /* Schwarzer Text */
    margin: 0;
    padding: 0;
}

/* Gemeinsame Stile für Links */
a {
    text-decoration: none;
    color: #45ad65; /* Dunkelgrüner Akzent */
}

/* Brand-Stil */
.brand {
    font-family: 'Explora', cursive;
    color: #45ad65; /* Dunkelgrüner Akzent */
}

/* Container-Stile */
.container-md {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center; /* optional, um den Text im Container zu zentrieren */
}

.custom-footer {
    background-color: #45ad65; /* Dunkelgrüner Hintergrund */
    color: #fff; /* Weiße Schriftfarbe */
}


/* Stile für Produktcontainer */
.productcont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    flex: 1;
    padding: 1em;
    border: 1px solid #E0E4CC;
    margin: 0.5em;
    border-radius: 5px;
    background: #fff;
}

/* Stile für Warenkorb-Container */
.cart-container {
    border: 1px solid #E0E4CC;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
    background: #fff;
}

/* Stile für Schaltflächen */
button, input[type="submit"] {
    border: 1px solid #45ad65; /* Dunkelgrüner Akzent */
    color: #fff;
    background: #45ad65; /* Dunkelgrüner Akzent */
    padding: 0.6em 1em;
    font-size: 1em;
    line-height: 1;
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #2e6c2e; /* Dunkelgrüner Akzent - dunkleres Grün */
    border-color: #2e6c2e; /* Dunkelgrüner Akzent - dunkleres Grün */
    cursor: pointer;
}

/* Tabellenstil */
table {
    margin-bottom: 1em;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    text-align: left;
    padding: 0.5em 1em;
    border-bottom: 1px solid #E0E4CC;
}

/* Stile für den Warenkorb-Totalbereich */
#carttotals {
    margin-right: 0;
    margin-left: auto;
}

/* Stile für Warenkorb-Buttons */
.cart-buttons {
    width: auto;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}

#emptycart {
    margin-right: 1em;
}

#accordion {
    background-color: #45ad65; /* Dunkelgrüner Hintergrund */
    color: #fff; /* Weiße Schriftfarbe */
}

/* Stile für die Nachrichten */
.message {
    border-width: 1px 0;
    border-style: solid;
    border-color: #45ad65; /* Dunkelgrüner Akzent */
    color: #45ad65; /* Dunkelgrüner Akzent */
    padding: 0.5em 0;
    margin: 1em 0;
}

/* Fügen Sie diese Regeln zu Ihrer style.css hinzu */
.btnColor {
    border-color: green; /* Grüne Umrandung */
    background-color: green; /* Hintergrundfarbe grün */
    color: white; /* Textfarbe weiß */
}

.btnColor:hover {
    background-color: #008000; /* Dunkleres Grün beim Überfahren mit der Maus */
    border-color: #008000; /* Dunklere grüne Umrandung beim Überfahren mit der Maus */
}


